# Prerequisites
*.d

# Compiled Object files
*.slo
*.sdf
*.suo
*.lo
*.o
*.db
*.opendb
*.opensdf

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug Files
/.vs/
*/Debug/*

# Release Files
*/Release/*

ipch/